.modal-background {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-window {
  background-color: white;
  font-family: Quicksand, sans-serif;
  font-weight: 600;
  border-radius: 1rem;
  padding: 2rem;
  text-align: end;
}

.modal-window-entries {
  background-color: #fffbf0;
  border: 0.2rem solid #658dc8;
  font-family: Quicksand, sans-serif;
  padding: 1.5rem;
  text-align: end;
}

.modal-button {
  background-color: inherit;
  border: none;
}

.modal-button:focus {
  outline: 0;
}

.fa-xmark {
  font-size: 1.5rem;
}

.fa-xmark-blue {
  color: #658dc8;
}

.loading-div {
  display: flex;
  justify-content: center;
  position: relative;
  top: 3rem;
}

.fa-person-swimming {
  position: absolute;
  top: 1.8rem;
  font-size: 2rem;
  animation-name: slide;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes slide {
  0% { right: 15%; }
  100% { right: 75%; }
}

h4 {
  font-family: inter, sans-serif;
  font-weight: 600;
  text-align: center;
}

.weather-info-row {
  display: inline-flex;
  justify-content: space-between;
}

p {
  margin: 0;
}

textarea {
  border: 0.1rem solid #658dc8;
  display: block;
  margin: auto;
  padding: 0.7rem;
}

textarea:focus {
  outline-color: #658dc8;
}

.btn-outline-primary {
  color: #658dc8;
  border-color: #658dc8;
}

.btn-outline-primary:hover {
  background-color: #658dc8;
}

.navbar {
  background-color: #658dc8;
  color: white;
  font-family: inter, sans-serif;
  font-weight: 600;
  font-size: 1.4rem;
}

.app-name,
.logs-link-navbar {
  text-decoration: none;
  color: white;
}

.app-name:hover {
  text-decoration: none;
}

.logs-link-navbar {
  display: none;
}

.modal-background-menu {
  position: fixed;
  top: 3rem;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.menu-window {
  background-color: white;
  position: fixed;
  top: 3rem;
  right: 0;
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 2;
  animation-duration: 0.5s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    right: -15rem;
  }

  to {
    right: 0;
  }
}

.menu-anchor-div {
  text-align: center;
  border-bottom: 0.1rem solid #dedddd;
  padding: 0.8rem 1.6rem;
}

.menu-anchor {
  display: block;
  text-decoration: none;
  color: black;
  font-size: 0.9rem;
}

.menu-image {
  margin-bottom: 6rem;
}

.row {
  justify-content: center;
}

.card {
  padding: 0;
  background-color: #f1f1f1;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
  width: 100%;
}

h2,
.card-header,
.menu-anchor {
  font-family: Quicksand, sans-serif;
  font-weight: 600;
}

.card-header-blue {
  background-color: #cfe2ff;
}

.card-body {
  background-color: #fffbf0;
}

.surf-question-div {
  text-align: end;
  margin-right: 0.7rem;
}

.surf-question-div > input:hover {
  cursor: pointer;
}

.surf-question-label {
  font-family: inter, sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
  margin-right: 0.3rem;
}

.entry-content,
.add-log-link {
  font-family: Quicksand, sans-serif;
  text-decoration: none;
  color: black;
  font-size: 0.9rem;
  margin-left: 1rem;
}

.weather-link {
  font-family: inter, sans-serif;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 600;
  color: black;
}

.fa-cloud {
  color: #e1dedc;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
  color: inherit;
}

.hidden {
  display: none;
}

@media screen and (min-width: 768px) {
  .weather-link {
    font-size: 0.8rem;
  }

  .logs-link-navbar {
    display: contents;
    font-size: 1rem;
  }

  .logs-link-navbar:hover {
    cursor: pointer;
  }

  .menu-anchor-div {
    padding: 0.8rem 3.5rem;
  }

  .menu-anchor {
    font-size: 1rem;
  }

  .menu-image {
    margin-bottom: 5rem;
  }

  .fa-person-swimming {
    top: 2rem;
    animation-duration: 2.5s;
  }

  @keyframes slide {
    0% {
      right: 30%;
    }

    100% {
      right: 65%;
    }
  }

  @keyframes slidein {
    from {
      right: -25rem;
    }

    to {
      right: 0;
    }
  }
}

@media screen and (min-width: 1280px) {
  .card-header {
    font-size: 0.9rem;
  }

  .fa-person-swimming {
    animation-duration: 2.8s;
  }

  @keyframes slide {
    0% {
      right: 35%;
    }

    100% {
      right: 60%;
    }
  }
}
